header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  background-size: cover;
  margin-top: -10px;
  width: 100%;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 25%;
  color: aquamarine;
}

.logo p {
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

a {
  color: black;
}

main {
  display: flex;
  padding-top: 116px;
  font-family: georgia;
  font-size: 17px;
  color: black;
  z-index: 10;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.large {
  flex-grow: 3;
  width: 630px;
}

.medium {
  flex-grow: 2;
  width: 300px;
}

.small {
  flex-grow: 1;
  width: 240px;
}

.stories {
  display: flex;
  flex-direction: row;
}

.image_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 300px;
  margin-top: 0;
}

h3 {
  margin: 0 20px;
}

.phish_pic {
  justify-content: flex-start;
  text-align: left;
  font-size: 40px;
  background-image: url(../../resources/imgs/img-story-main.png);
}

.earth {
  background-image: url(../../resources/imgs/img-story-2.png);
}

.cameras {
  background-image: url(../../resources/imgs/img-story-3.png);
}

.cat_pic {
  background-image: url(../../resources/imgs/img-story-1.png);
}

ul {
  list-style-type: none;
  padding-left: 0;
  background-color: whiteSmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimGray;
}

li {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black;
}

.small h4 {
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  height: 100px;
  font-family: Verdana;
  font-size: 12px;
}

.bottom_nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.bottom_nav nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.bottom_nav nav a {
  padding: 10px;
}

h5 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
